<!DOCTYPE html>

@{
    ProntuarioUnico.Global mobjGlobal = new ProntuarioUnico.Global();
}

<html>
<head>
    <meta charset="utf-8" />
    <meta content="True" name="HandheldFriendly" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Prontuário Único</title>
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/Libs/Bootstrap/bootstrap.css?" + DateTimeOffset.Now)" />
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/Libs/Bootstrap/bootstrap-grid.css?" + DateTimeOffset.Now)" />
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/Libs/Global/Global.css?" + DateTimeOffset.Now)" />
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/Views/Shared/Layout.css?" + DateTimeOffset.Now)" />
    @RenderSection("head", required: false)
</head>

<body load style="display:none;">
    @* Cabeçalho *@
    <header id="hdrLayout_Cabecalho">
        <h1 id="Principal">
            <a href="#">
                <img id="imgLayout_Logo" src="~/Content/Imagens/Shared/imgLogo.png" />
            </a>
        </h1>
        <nav id="navLayout_Cabecalho" role="navigation">
            <ul id="lstLayout_Menu">
                <li>
                    <a class="click-especial" href="javascript:Layout.AbrirProntuario()">Prontuário</a>
                </li>
                <li>
                    <a class="click-especial" href="#">Link</a>
                </li>
                <li>
                    <a id="btnLayout_Principal" href="javascript:Layout.btnLayout_PrincipalClick()">Atendimento</a>
                </li>
            </ul>
            <div class="cssLayout_Dropdown_Menu">
                <button id="btnMenu">
                    <img class="cssImagemFundo" src="~/Content/Imagens/Shared/imgAccountUser.png" />
                </button>
                <ul id="divLayout_ContentMenu">
                    <li class="cssLayout_ContextMenu__Item">
                        <a href="#">Meu Perfil</a>
                    </li>
                    <li class="cssLayout_ContextMenu__Separador"></li>
                    <li class="cssLayout_ContextMenu__Item">
                        <a href="javascript:Layout.Sair()">Sair</a>
                    </li>
                </ul>
            </div>
        </nav>
    </header>
    @* Menu de opções usuário *@
    <main>
        <div id="divLayout_Principal">
            @* Título da página *@
            <div id="divLayout_Titulo">
                <div></div>
                <label></label>
            </div>
            @RenderBody()
        </div>
    </main>
    <script src="@Url.Content("~/Scripts/Libs/Jquery/jquery-3.4.1.js?" + DateTimeOffset.Now)"></script>
    <script src="@Url.Content("~/Scripts/Libs/Bootstrap/bootstrap.js?" + DateTimeOffset.Now)"></script>
    <script src="@Url.Content("~/Scripts/Libs/Bootstrap/bootstrap.bundle.js?" + DateTimeOffset.Now)"></script>
    <script src="@Url.Content("~/Scripts/Libs/Global/Global.js?" + DateTimeOffset.Now)"></script>
    <script src="@Url.Content("~/Scripts/Views/Shared/Layout.js?" + DateTimeOffset.Now)"></script>
    <script>
        var gstrGlobalPath = '@mobjGlobal.Monta_GlobalPath(Request)';
    </script>
    @RenderSection("scripts", required: false)
</body>
</html>