@using ProntuarioUnico.ViewModels
@model ProntuarioViewModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section head {
    <link rel="stylesheet" href="@Url.Content("~/Content/Views/Home/Index.css?" + DateTimeOffset.Now)" />
}

@section scripts {
    <script src="@Url.Content("~/Scripts/Views/Home/Index.js?" + DateTimeOffset.Now)"></script>
}

@* Tabela *@
<div id="divIndex_ContainerTabela">
    @if (Model.Prontuarios.Any())
    {
        <table id="tblIndex_TbProntuario">
            <thead>
                <tr>
                    <th>Nr. Atendimento</th>
                    <th>Atendimento</th>
                    <th>Dt. Atendimento</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var atendimento in Model.Prontuarios)
                {
                    <tr class="cssIndex_TbProntuario_Row">
                        <td>@atendimento.NumeroAtendimento</td>
                        <td>@atendimento.TipoAtendimento</td>
                        <td>@atendimento.DataAtendimento</td>
                        <td>
                            <button>
                                <img src="@Url.Content("~/Content/Imagens/Home/imgDown.png")" />
                            </button>
                        </td>
                    </tr>
                    <tr class="cssIndex_TbProntuario_Row_Descricao">
                        <td colspan="4">
                            <div>
                                <h2>Especialista:</h2>
                                <p>@atendimento.NomeMedico</p>
                                <h2>Especialidade:</h2>
                                <p>@atendimento.Especialidade</p>
                                <h2>Observações:</h2>
                                <p>@atendimento.Observacoes</p>
                            </div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    }
    else
    {
        <table id="tblIndex_TbProntuario">
            <tbody>
                <tr class="text-center">
                    <td colspan="4"> Nenhum atendimento encontrado </td>
                </tr>
            </tbody>
        </table>
    }
</div>